<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>axe_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{84,84}}</string>
                <key>offset</key>
                <string>{-14,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,80},{84,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>axe_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,168},{84,84}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,80},{84,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>axe_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{92,80}}</string>
                <key>offset</key>
                <string>{22,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,84},{92,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>axe_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{92,80}}</string>
                <key>offset</key>
                <string>{22,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,84},{92,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>axe_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{92,80}}</string>
                <key>offset</key>
                <string>{22,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,84},{92,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>axe_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,85},{88,80}}</string>
                <key>offset</key>
                <string>{20,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,84},{88,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>axe_attack_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,85},{88,80}}</string>
                <key>offset</key>
                <string>{20,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,84},{88,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>axe_attack_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,85},{88,80}}</string>
                <key>offset</key>
                <string>{20,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,84},{88,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>axe_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{80,84}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,80},{80,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>axe_dead_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,255},{76,84}}</string>
                <key>offset</key>
                <string>{14,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,80},{76,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>axe_dead_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,397},{76,84}}</string>
                <key>offset</key>
                <string>{18,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,84},{76,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>axe_dead_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,342},{72,80}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,88},{72,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>axe_dead_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,255},{72,76}}</string>
                <key>offset</key>
                <string>{24,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,92},{72,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>axe_dead_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,255},{80,64}}</string>
                <key>offset</key>
                <string>{28,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,104},{80,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>axe_dead_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,52}}</string>
                <key>offset</key>
                <string>{24,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,112},{96,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>axe_dead_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,52}}</string>
                <key>offset</key>
                <string>{24,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,112},{96,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>axe_dead_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,52}}</string>
                <key>offset</key>
                <string>{24,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,112},{96,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>axe_run_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{84,84}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,80},{84,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>axe_run_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,168},{84,84}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,80},{84,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>axe_run_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,85},{80,88}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,76},{80,88}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>axe_run_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{80,88}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,76},{80,88}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>axe_wait_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,89},{84,84}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,80},{84,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>axe_wait_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,89},{84,84}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,80},{84,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>axe_wait_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{84,88}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,76},{84,88}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>axe_wait_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{84,88}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,76},{84,88}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>axe_wait_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,2},{84,88}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,76},{84,88}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>axe_wait_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,2},{84,88}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,76},{84,88}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>axe_wait_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,89},{84,84}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,80},{84,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>axe_wait_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,89},{84,84}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,80},{84,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>axe.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string></string>
            <key>textureFileName</key>
            <string>axe.png</string>
        </dict>
    </dict>
</plist>
