<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crawl_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,112},{144,52}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,112},{144,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>crawl_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,112},{144,52}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,112},{144,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>crawl_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{152,52}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,112},{152,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>crawl_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{152,52}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,112},{152,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>crawl_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,171},{148,56}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,112},{148,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>crawl_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,171},{148,56}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,112},{148,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>crawl_attack_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,167},{144,56}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,112},{144,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>crawl_attack_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,167},{144,56}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,112},{144,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>crawl_attack_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,167},{144,56}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,112},{144,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>crawl_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,112},{144,52}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,112},{144,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>crawl_dead_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{144,52}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,112},{144,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>crawl_dead_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{144,56}}</string>
                <key>offset</key>
                <string>{-12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,108},{144,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>crawl_dead_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,112},{148,56}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,108},{148,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>crawl_dead_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,57},{144,52}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,112},{144,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>crawl_dead_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,57},{144,52}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,124},{144,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>crawl_dead_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,57},{144,52}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,124},{144,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>crawl_dead_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,57},{144,52}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,124},{144,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>crawl_dead_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,57},{144,52}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,124},{144,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>crawl_run_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,112},{144,52}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,112},{144,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>crawl_run_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,112},{144,52}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,112},{144,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>crawl_run_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{144,52}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,116},{144,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>crawl_run_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{144,52}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,116},{144,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>crawl_run_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,112},{144,52}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,112},{144,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>crawl_run_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,112},{144,52}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,112},{144,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>crawl_run_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{144,52}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,116},{144,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>crawl_run_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{144,52}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,116},{144,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>crawl_wait_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,112},{144,52}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,112},{144,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>crawl_wait_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,112},{144,52}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,112},{144,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>crawl_wait_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,2},{144,56}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,108},{144,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>crawl_wait_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,2},{144,56}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,108},{144,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>crawl_wait_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,112},{144,52}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,112},{144,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>crawl_wait_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,112},{144,52}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,112},{144,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>crawl_wait_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,52}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,116},{144,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>crawl_wait_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,52}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,116},{144,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crawl.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string></string>
            <key>textureFileName</key>
            <string>crawl.png</string>
        </dict>
    </dict>
</plist>
