<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{112,104}}</string>
                <key>offset</key>
                <string>{8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,62},{112,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,67},{120,74}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,92},{120,74}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{116,70}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,98},{116,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{118,66}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,100},{118,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,82},{120,64}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,102},{120,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{114,66}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,100},{114,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{118,66}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,98},{118,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_dead_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,423},{110,74}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,92},{110,74}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_dead_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,432},{110,70}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,96},{110,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_dead_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,170},{118,56}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,110},{118,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_dead_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,67},{120,100}}</string>
                <key>offset</key>
                <string>{12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,66},{120,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_dead_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,144},{120,42}}</string>
                <key>offset</key>
                <string>{12,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,122},{120,42}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_dead_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,2},{122,38}}</string>
                <key>offset</key>
                <string>{11,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,126},{122,38}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_dead_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,43},{122,36}}</string>
                <key>offset</key>
                <string>{11,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,128},{122,36}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_dead_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,43},{122,36}}</string>
                <key>offset</key>
                <string>{11,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,128},{122,36}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_dead_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,43},{122,36}}</string>
                <key>offset</key>
                <string>{11,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,128},{122,36}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_dead_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,43},{122,36}}</string>
                <key>offset</key>
                <string>{11,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,128},{122,36}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_dead_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,43},{122,36}}</string>
                <key>offset</key>
                <string>{11,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,128},{122,36}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_magic2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,260},{114,104}}</string>
                <key>offset</key>
                <string>{9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,62},{114,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_magic2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,298},{114,82}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,84},{114,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_magic2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,505},{98,84}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,82},{98,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_magic2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,523},{104,76}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,88},{104,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_magic_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,149},{118,76}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,90},{118,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_magic_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,448},{104,84}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,84},{104,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_magic_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,500},{100,90}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,80},{100,90}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_magic_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,64}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,100},{132,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_magic_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,64}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,100},{132,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_magic_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,64}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,100},{132,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_magic_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,64}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,100},{132,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_run_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,260},{114,104}}</string>
                <key>offset</key>
                <string>{9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,62},{114,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_run_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{122,62}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,104},{122,62}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_run_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,228},{116,60}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,106},{116,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_run_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{116,64}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,102},{116,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_run_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,229},{116,66}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,100},{116,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_run_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,189},{116,68}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,98},{116,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_wait_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,260},{114,104}}</string>
                <key>offset</key>
                <string>{9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,62},{114,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_wait_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{122,62}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,106},{122,62}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_wait_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,383},{114,62}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,108},{114,62}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_wait_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,367},{114,62}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,104},{114,62}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_wait_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,358},{114,62}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,102},{114,62}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dragon_wait_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,291},{114,64}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,100},{114,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragon.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string></string>
            <key>textureFileName</key>
            <string>dragon.png</string>
        </dict>
    </dict>
</plist>
