<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eagleman_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{96,72}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,92},{96,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,156},{88,72}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,92},{88,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,89},{88,72}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,92},{88,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{92,76}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,88},{92,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,77},{92,80}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,84},{92,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{84,76}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,88},{84,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_attack_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,164},{84,68}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,96},{84,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_attack_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,314},{76,72}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,96},{76,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,464},{72,72}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,92},{72,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_dead_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,464},{72,72}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,92},{72,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_dead_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,389},{72,72}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,92},{72,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_dead_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,389},{72,72}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,92},{72,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_dead_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,535},{72,64}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,100},{72,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_dead_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,535},{72,64}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,100},{72,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_dead_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,567},{72,60}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,104},{72,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_dead_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,567},{72,60}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,104},{72,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_dead_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,464},{72,44}}</string>
                <key>offset</key>
                <string>{16,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,120},{72,44}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_dead_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,464},{72,44}}</string>
                <key>offset</key>
                <string>{16,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,120},{72,44}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_dead_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,464},{72,36}}</string>
                <key>offset</key>
                <string>{16,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,128},{72,36}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_dead_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,464},{72,36}}</string>
                <key>offset</key>
                <string>{16,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,128},{72,36}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_dead_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,464},{72,36}}</string>
                <key>offset</key>
                <string>{16,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,128},{72,36}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_dead_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,464},{72,36}}</string>
                <key>offset</key>
                <string>{16,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,128},{72,36}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_magic_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,389},{72,72}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,92},{72,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_magic_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,314},{76,72}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,92},{76,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_magic_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,2},{92,68}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,96},{92,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_magic_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,160},{88,68}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,96},{88,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_magic_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,310},{80,68}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,96},{80,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_magic_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,488},{72,68}}</string>
                <key>offset</key>
                <string>{16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,96},{72,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_magic_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,488},{72,68}}</string>
                <key>offset</key>
                <string>{16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,96},{72,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_passive_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,231},{84,76}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,88},{84,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_passive_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,176},{84,76}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,88},{84,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_passive_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{84,88}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,88},{84,88}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_passive_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{92,92}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,88},{92,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_passive_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,96}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,88},{112,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_passive_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,96}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,88},{112,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_passive_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,96}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,88},{112,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_run_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{76,76}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,88},{76,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_run_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,381},{76,76}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,88},{76,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_run_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,460},{72,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,92},{72,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_run_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{68,76}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_run_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,334},{76,76}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,88},{76,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_run_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,310},{76,76}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,88},{76,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_run_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,413},{72,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,92},{72,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_run_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{68,76}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_wait_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,389},{72,76}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,88},{72,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_wait_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,389},{72,76}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,88},{72,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_wait_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,235},{76,76}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,88},{76,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_wait_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,235},{76,76}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,88},{76,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_wait_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{76,76}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,92},{76,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_wait_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{76,76}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,92},{76,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_wait_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,235},{72,76}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,92},{72,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_wait_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,235},{72,76}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,92},{72,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_win1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,389},{72,76}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,88},{72,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_win1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,389},{72,76}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,88},{72,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_win1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,389},{72,76}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,88},{72,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_win1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,73},{88,80}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,84},{88,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_win1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,97},{88,76}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,88},{88,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_win1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{84,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,88},{84,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_win1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,255},{80,76}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,88},{80,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_win1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,255},{80,76}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,88},{80,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_win1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,231},{80,76}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,88},{80,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_win1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,255},{80,76}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,88},{80,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_win1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,255},{80,76}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,88},{80,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_win1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,255},{80,76}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,88},{80,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_win2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,559},{64,64}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,100},{64,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_win2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,559},{64,64}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,100},{64,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_win2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,511},{64,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,96},{64,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_win2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,503},{64,68}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,96},{64,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_win2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,539},{64,64}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,100},{64,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_win2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,539},{64,64}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,100},{64,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_win2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,503},{64,68}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,96},{64,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>eagleman_win2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,511},{64,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,96},{64,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eagleman.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string></string>
            <key>textureFileName</key>
            <string>eagleman.png</string>
        </dict>
    </dict>
</plist>
