<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fashi_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{76,112}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,52},{76,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fashi_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{108,112}}</string>
                <key>offset</key>
                <string>{18,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,52},{108,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fashi_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,77},{104,108}}</string>
                <key>offset</key>
                <string>{16,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,56},{104,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fashi_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,152},{96,108}}</string>
                <key>offset</key>
                <string>{12,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,56},{96,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fashi_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,152},{96,108}}</string>
                <key>offset</key>
                <string>{12,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,56},{96,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fashi_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,152},{96,108}}</string>
                <key>offset</key>
                <string>{12,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,56},{96,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fashi_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,77},{72,112}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,52},{72,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fashi_dead_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{76,112}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,52},{76,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fashi_dead_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,251},{76,108}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,56},{76,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fashi_dead_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,405},{84,104}}</string>
                <key>offset</key>
                <string>{22,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,60},{84,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fashi_dead_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,405},{100,92}}</string>
                <key>offset</key>
                <string>{30,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,72},{100,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fashi_dead_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,184},{108,84}}</string>
                <key>offset</key>
                <string>{34,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,80},{108,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fashi_dead_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,64}}</string>
                <key>offset</key>
                <string>{42,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,104},{140,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fashi_dead_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,64}}</string>
                <key>offset</key>
                <string>{42,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,104},{140,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fashi_dead_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,64}}</string>
                <key>offset</key>
                <string>{42,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,104},{140,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fashi_run_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,77},{72,112}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,52},{72,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fashi_run_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,374},{72,112}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,52},{72,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fashi_run_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{72,116}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,48},{72,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fashi_run_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{72,116}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,48},{72,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fashi_run_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,259},{72,112}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,52},{72,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fashi_run_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,374},{72,112}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,52},{72,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fashi_run_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{72,116}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,48},{72,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fashi_run_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{72,116}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,48},{72,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fashi_wait_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,144},{72,112}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,52},{72,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fashi_wait_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,259},{72,112}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,52},{72,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fashi_wait_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,330},{72,108}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,56},{72,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fashi_wait_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,271},{72,108}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,56},{72,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fashi.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string></string>
            <key>textureFileName</key>
            <string>fashi.png</string>
        </dict>
    </dict>
</plist>
