<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>greengirl_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,247},{68,76}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,243},{68,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{72,80}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,84},{72,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,429},{72,80}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,84},{72,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,85},{72,76}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,88},{72,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,85},{72,76}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,88},{72,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,215},{68,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_dead_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,215},{68,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_dead_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,401},{68,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,92},{68,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_dead_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,401},{68,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,92},{68,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_dead_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,326},{68,72}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,92},{68,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_dead_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,326},{68,72}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,92},{68,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_dead_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,286},{68,64}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,100},{68,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_dead_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,286},{68,64}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,100},{68,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_dead_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,77},{72,40}}</string>
                <key>offset</key>
                <string>{16,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,124},{72,40}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_dead_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,77},{72,40}}</string>
                <key>offset</key>
                <string>{16,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,124},{72,40}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_dead_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{72,40}}</string>
                <key>offset</key>
                <string>{16,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,124},{72,40}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_dead_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{72,40}}</string>
                <key>offset</key>
                <string>{16,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,124},{72,40}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_dead_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{72,40}}</string>
                <key>offset</key>
                <string>{16,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,124},{72,40}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_dead_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{72,40}}</string>
                <key>offset</key>
                <string>{16,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,124},{72,40}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_magic_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,215},{68,72}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,92},{68,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_magic_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,144},{68,76}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_magic_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,164},{68,76}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,84},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_magic_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,168},{72,76}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,84},{72,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_magic_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{72,80}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,80},{72,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_magic_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{72,80}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,80},{72,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_magic_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,168},{72,76}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,84},{72,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_magic_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{72,80}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,80},{72,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_magic_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,144},{68,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_run_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,73},{68,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_run_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,73},{68,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_run_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{68,84}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,80},{68,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_run_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{68,84}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,80},{68,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_run_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,2},{68,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_run_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{68,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_run_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{68,80}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,84},{68,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_run_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,85},{68,80}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,84},{68,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_wait_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,251},{68,80}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,84},{68,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_wait_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,251},{68,80}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,84},{68,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_wait_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,413},{68,76}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_wait_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,413},{68,76}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_wait_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,334},{68,76}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_wait_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,334},{68,76}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_wait_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,413},{68,76}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_wait_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,413},{68,76}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_wait_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,251},{68,80}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,84},{68,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_win1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,413},{68,76}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_win1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{68,76}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_win1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,84}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,80},{68,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_win1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,168},{68,80}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,84},{68,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_win1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,85},{68,80}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,84},{68,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_win1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,85},{68,80}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,84},{68,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_win1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,85},{68,80}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,84},{68,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_win1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,85},{68,80}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,84},{68,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_win1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,85},{68,80}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,84},{68,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_win2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,286},{68,64}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,100},{68,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_win2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,286},{68,64}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,100},{68,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_win2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,393},{68,68}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,96},{68,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_win2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,322},{68,68}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,96},{68,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_win2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,215},{68,64}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,100},{68,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_win2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,215},{68,64}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,100},{68,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_win2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,322},{68,68}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,96},{68,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greengirl_win2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,393},{68,68}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,96},{68,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>greengirl.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string></string>
            <key>textureFileName</key>
            <string>greengirl.png</string>
        </dict>
    </dict>
</plist>
