<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hell_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,440},{90,114}}</string>
                <key>offset</key>
                <string>{-15,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,50},{90,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{88,112}}</string>
                <key>offset</key>
                <string>{-22,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,52},{88,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,113},{150,108}}</string>
                <key>offset</key>
                <string>{15,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,56},{150,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,113},{152,108}}</string>
                <key>offset</key>
                <string>{16,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,56},{152,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,2},{152,108}}</string>
                <key>offset</key>
                <string>{16,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,56},{152,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{152,108}}</string>
                <key>offset</key>
                <string>{16,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,56},{152,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,329},{128,112}}</string>
                <key>offset</key>
                <string>{18,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,52},{128,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_dead_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,450},{112,114}}</string>
                <key>offset</key>
                <string>{10,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,52},{112,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_dead_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,533},{96,106}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,58},{96,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_dead_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,583},{98,102}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,62},{98,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_dead_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,549},{98,98}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,66},{98,98}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_dead_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,545},{98,96}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,68},{98,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_dead_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,549},{98,98}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,66},{98,98}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_dead_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,545},{98,96}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,68},{98,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_dead_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,468},{98,98}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,66},{98,98}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_dead_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,466},{80,76}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,88},{80,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_dead_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,632},{76,84}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,80},{76,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_dead_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,371},{72,92}}</string>
                <key>offset</key>
                <string>{14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,72},{72,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_dead_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,163},{68,98}}</string>
                <key>offset</key>
                <string>{16,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,66},{68,98}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_dead_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,264},{62,104}}</string>
                <key>offset</key>
                <string>{19,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,60},{62,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_dead_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,113},{60,106}}</string>
                <key>offset</key>
                <string>{20,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,58},{60,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_dead_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,222},{54,94}}</string>
                <key>offset</key>
                <string>{23,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,70},{54,94}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_dead_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{16,44}}</string>
                <key>offset</key>
                <string>{42,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,120},{16,44}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_dead_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{16,44}}</string>
                <key>offset</key>
                <string>{42,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,120},{16,44}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_magic2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,565},{120,112}}</string>
                <key>offset</key>
                <string>{16,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,52},{120,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_magic2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,341},{96,128}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,36},{96,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_magic2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{96,128}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,36},{96,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_magic2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,341},{96,128}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,36},{96,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_magic2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,228},{98,132}}</string>
                <key>offset</key>
                <string>{1,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,32},{98,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_magic2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,113},{98,134}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,30},{98,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_magic2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,438},{98,128}}</string>
                <key>offset</key>
                <string>{1,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,36},{98,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_magic2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,113},{98,134}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,30},{98,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_magic2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,438},{98,128}}</string>
                <key>offset</key>
                <string>{1,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,36},{98,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_magic2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,113},{98,134}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,30},{98,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_magic2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,341},{96,128}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,36},{96,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_magic2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,565},{120,112}}</string>
                <key>offset</key>
                <string>{16,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,52},{120,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_magic3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,440},{90,114}}</string>
                <key>offset</key>
                <string>{-15,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,50},{90,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_magic3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{88,112}}</string>
                <key>offset</key>
                <string>{-22,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,52},{88,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_magic3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{150,112}}</string>
                <key>offset</key>
                <string>{15,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,52},{150,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_magic3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,2},{152,108}}</string>
                <key>offset</key>
                <string>{16,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,56},{152,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_magic3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{152,108}}</string>
                <key>offset</key>
                <string>{16,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,56},{152,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_magic3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{152,108}}</string>
                <key>offset</key>
                <string>{16,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,56},{152,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_magic_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,331},{118,116}}</string>
                <key>offset</key>
                <string>{15,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,48},{118,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_magic_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,331},{104,128}}</string>
                <key>offset</key>
                <string>{18,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,52},{104,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_magic_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,228},{112,132}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,56},{112,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_magic_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,440},{106,108}}</string>
                <key>offset</key>
                <string>{15,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,56},{106,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_magic_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,158}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,56},{224,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_magic_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,440},{106,108}}</string>
                <key>offset</key>
                <string>{15,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,56},{106,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_magic_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,440},{106,108}}</string>
                <key>offset</key>
                <string>{15,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,56},{106,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_run_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,113},{136,112}}</string>
                <key>offset</key>
                <string>{24,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,52},{136,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_run_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{138,112}}</string>
                <key>offset</key>
                <string>{23,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,52},{138,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_run_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,113},{142,112}}</string>
                <key>offset</key>
                <string>{21,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,52},{142,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_run_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,224},{138,114}}</string>
                <key>offset</key>
                <string>{23,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,50},{138,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_run_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,224},{136,114}}</string>
                <key>offset</key>
                <string>{24,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,50},{136,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_run_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,214},{132,114}}</string>
                <key>offset</key>
                <string>{24,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,50},{132,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_wait_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,343},{126,122}}</string>
                <key>offset</key>
                <string>{21,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,52},{126,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_wait_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,343},{126,122}}</string>
                <key>offset</key>
                <string>{21,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,52},{126,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_wait_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,539},{126,120}}</string>
                <key>offset</key>
                <string>{21,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,52},{126,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_wait_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,539},{126,120}}</string>
                <key>offset</key>
                <string>{21,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,52},{126,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_wait_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,444},{126,120}}</string>
                <key>offset</key>
                <string>{21,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,50},{126,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_wait_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,444},{126,120}}</string>
                <key>offset</key>
                <string>{21,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,50},{126,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_wait_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,539},{126,120}}</string>
                <key>offset</key>
                <string>{21,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,52},{126,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hell_wait_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,539},{126,120}}</string>
                <key>offset</key>
                <string>{21,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,52},{126,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hell.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string></string>
            <key>textureFileName</key>
            <string>hell.png</string>
        </dict>
    </dict>
</plist>
