<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hotgirl_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{116,76}}</string>
                <key>offset</key>
                <string>{26,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,88},{116,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{144,76}}</string>
                <key>offset</key>
                <string>{24,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,88},{144,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,92}}</string>
                <key>offset</key>
                <string>{32,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,72},{160,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,271},{72,92}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,72},{72,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,81},{68,92}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,72},{68,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,81},{68,92}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,72},{68,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,425},{68,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_dead_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,425},{68,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_dead_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,488},{72,72}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,92},{72,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_dead_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,488},{72,72}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,92},{72,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_dead_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,626},{72,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,96},{72,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_dead_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,626},{72,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,96},{72,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_dead_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,330},{76,64}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,100},{76,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_dead_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,330},{76,64}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,100},{76,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_dead_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,2},{76,44}}</string>
                <key>offset</key>
                <string>{14,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,120},{76,44}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_dead_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,2},{76,44}}</string>
                <key>offset</key>
                <string>{14,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,120},{76,44}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_dead_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,160},{72,40}}</string>
                <key>offset</key>
                <string>{16,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,124},{72,40}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_dead_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,160},{72,40}}</string>
                <key>offset</key>
                <string>{16,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,124},{72,40}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_dead_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,160},{72,40}}</string>
                <key>offset</key>
                <string>{16,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,124},{72,40}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_dead_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,160},{72,40}}</string>
                <key>offset</key>
                <string>{16,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,124},{72,40}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_magic_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,160},{128,76}}</string>
                <key>offset</key>
                <string>{24,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,88},{128,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_magic_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,160},{128,76}}</string>
                <key>offset</key>
                <string>{24,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,88},{128,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_magic_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,81},{128,76}}</string>
                <key>offset</key>
                <string>{20,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,88},{128,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_magic_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,81},{128,76}}</string>
                <key>offset</key>
                <string>{20,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,88},{128,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_magic_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{148,76}}</string>
                <key>offset</key>
                <string>{18,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,88},{148,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_magic_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,81},{140,76}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,88},{140,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_magic_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{132,76}}</string>
                <key>offset</key>
                <string>{18,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,88},{132,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_magic_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,81},{128,76}}</string>
                <key>offset</key>
                <string>{20,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,88},{128,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_magic_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{148,76}}</string>
                <key>offset</key>
                <string>{18,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,88},{148,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_magic_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,81},{140,76}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,88},{140,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_magic_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{132,76}}</string>
                <key>offset</key>
                <string>{18,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,88},{132,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_magic_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,81},{128,76}}</string>
                <key>offset</key>
                <string>{20,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,88},{128,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_magic_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{148,76}}</string>
                <key>offset</key>
                <string>{18,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,88},{148,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_magic_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,81},{140,76}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,88},{140,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_magic_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{132,76}}</string>
                <key>offset</key>
                <string>{18,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,88},{132,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_magic_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,81},{128,76}}</string>
                <key>offset</key>
                <string>{20,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,88},{128,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_magic_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{148,76}}</string>
                <key>offset</key>
                <string>{18,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,88},{148,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_magic_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,81},{140,76}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,88},{140,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_magic_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{132,76}}</string>
                <key>offset</key>
                <string>{18,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,88},{132,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_magic_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,81},{128,76}}</string>
                <key>offset</key>
                <string>{20,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,88},{128,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_magic_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{148,76}}</string>
                <key>offset</key>
                <string>{18,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,88},{148,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_magic_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,81},{140,76}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,88},{140,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_magic_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{132,76}}</string>
                <key>offset</key>
                <string>{18,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,88},{132,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_magic_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,81},{128,76}}</string>
                <key>offset</key>
                <string>{20,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,88},{128,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_passive_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{72,92}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,72},{72,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_passive_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,279},{72,88}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,76},{72,88}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_passive_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,271},{72,88}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,76},{72,88}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_passive_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,176},{76,100}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,76},{76,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_passive_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,239},{88,104}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,76},{88,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_passive_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,160},{112,108}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,76},{112,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_passive_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,160},{112,108}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,76},{112,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_run_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{72,72}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,92},{72,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_run_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,330},{76,72}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,92},{76,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_run_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{76,76}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,88},{76,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_run_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,405},{72,76}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,88},{72,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_run_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,559},{68,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,92},{68,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_run_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,484},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,92},{64,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_run_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,551},{60,76}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,88},{60,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_run_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,417},{68,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_wait_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,417},{68,76}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_wait_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,417},{68,76}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_wait_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,480},{68,76}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_wait_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,480},{68,76}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_wait_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,551},{72,72}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,92},{72,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_wait_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,551},{72,72}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,92},{72,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_wait_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,496},{68,72}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,92},{68,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_wait_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,496},{68,72}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,92},{68,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_win1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,417},{68,76}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_win1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,417},{68,76}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_win1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{68,76}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_win1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,354},{68,76}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_win1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,346},{68,76}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_win1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,346},{68,76}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_win1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,346},{68,76}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_win1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,346},{68,76}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_win1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,346},{68,76}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_win1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,346},{68,76}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_win1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,346},{68,76}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_win1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{68,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,88},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_win1_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,488},{68,72}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,92},{68,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_win1_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,488},{68,72}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,92},{68,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_win1_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,689},{68,72}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,92},{68,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_win1_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,689},{68,72}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,92},{68,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_win1_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,488},{68,72}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,92},{68,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_win1_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,488},{68,72}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,92},{68,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_win1_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,689},{68,72}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,92},{68,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_win1_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,689},{68,72}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,92},{68,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_win1_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,488},{68,72}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,92},{68,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_win1_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,488},{68,72}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,92},{68,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_win2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,563},{68,68}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,96},{68,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_win2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,563},{68,68}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,96},{68,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_win2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,559},{68,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,92},{68,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_win2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,409},{64,72}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,92},{64,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_win2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,567},{64,68}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,96},{64,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_win2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,567},{64,68}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,96},{64,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_win2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,409},{64,72}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,92},{64,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hotgirl_win2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,559},{68,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,92},{68,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hotgirl.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string></string>
            <key>textureFileName</key>
            <string>hotgirl.png</string>
        </dict>
    </dict>
</plist>
