<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magicgirl_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,322},{72,80}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,84},{72,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,409},{72,80}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,84},{72,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,93},{100,80}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,84},{100,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,85},{100,80}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,84},{100,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,2},{100,80}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,84},{100,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,2},{100,80}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,84},{100,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_attack_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,2},{100,80}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,84},{100,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_attack_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,2},{100,80}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,84},{100,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,342},{72,80}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,84},{72,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_dead_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,559},{72,76}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,88},{72,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_dead_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,567},{72,72}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,92},{72,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_dead_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{72,64}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,100},{72,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_dead_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,152},{72,48}}</string>
                <key>offset</key>
                <string>{16,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,116},{72,48}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_dead_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,77},{72,48}}</string>
                <key>offset</key>
                <string>{16,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,116},{72,48}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_dead_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,77},{72,48}}</string>
                <key>offset</key>
                <string>{16,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,116},{72,48}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_dead_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,77},{72,48}}</string>
                <key>offset</key>
                <string>{16,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,116},{72,48}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_dead_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,77},{72,48}}</string>
                <key>offset</key>
                <string>{16,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,116},{72,48}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_magic_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,322},{72,80}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,84},{72,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_magic_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,547},{72,72}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,92},{72,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_magic_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,472},{72,72}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,92},{72,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_magic_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,472},{72,72}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,92},{72,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_magic_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,338},{72,80}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,80},{72,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_magic_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{72,80}}</string>
                <key>offset</key>
                <string>{-8,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,72},{72,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_magic_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,255},{76,84}}</string>
                <key>offset</key>
                <string>{-10,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,68},{76,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_magic_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,259},{76,80}}</string>
                <key>offset</key>
                <string>{-10,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,72},{76,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_magic_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{76,76}}</string>
                <key>offset</key>
                <string>{-10,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,76},{76,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_magic_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,255},{76,84}}</string>
                <key>offset</key>
                <string>{-10,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,68},{76,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_magic_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,259},{76,80}}</string>
                <key>offset</key>
                <string>{-10,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,72},{76,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_magic_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{76,76}}</string>
                <key>offset</key>
                <string>{-10,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,76},{76,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_magic_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,255},{76,84}}</string>
                <key>offset</key>
                <string>{-10,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,68},{76,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_magic_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,259},{76,80}}</string>
                <key>offset</key>
                <string>{-10,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,72},{76,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_magic_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{76,76}}</string>
                <key>offset</key>
                <string>{-10,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,76},{76,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_passive_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,168},{100,76}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,88},{100,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_passive_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,97},{100,76}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,88},{100,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_passive_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{100,88}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,88},{100,88}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_passive_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{108,92}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,88},{108,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_passive_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,96}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,88},{120,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_passive_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,96}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,88},{120,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_passive_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,96}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,88},{120,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_run_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,492},{72,76}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,88},{72,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_run_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,472},{72,76}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,88},{72,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_run_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,247},{72,80}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,84},{72,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_run_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,334},{72,80}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,84},{72,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_run_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,397},{72,76}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,88},{72,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_run_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{72,76}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,88},{72,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_run_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,259},{72,80}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,84},{72,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_run_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,247},{72,80}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,84},{72,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_wait_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{72,80}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,84},{72,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_wait_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{72,80}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,84},{72,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_wait_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,176},{72,80}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,84},{72,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_wait_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,176},{72,80}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,84},{72,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_wait_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,488},{72,76}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,88},{72,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_wait_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,488},{72,76}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,88},{72,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_wait_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,484},{72,76}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,88},{72,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_wait_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,484},{72,76}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,88},{72,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_win1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,176},{72,80}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,84},{72,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_win1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,176},{72,80}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,84},{72,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_win1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,417},{72,76}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,88},{72,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_win1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,176},{76,84}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,80},{76,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_win1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{76,84}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,80},{76,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_win1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,176},{80,84}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,80},{80,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_win1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{80,84}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,80},{80,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_win1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{80,84}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,80},{80,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_win1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{80,84}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,80},{80,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_win1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{80,84}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,80},{80,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_win2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,567},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,92},{72,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_win2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,567},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,92},{72,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_win2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,397},{72,76}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,88},{72,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_win2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,413},{72,76}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,88},{72,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_win2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,563},{72,72}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,92},{72,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_win2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,563},{72,72}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,92},{72,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_win2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,413},{72,76}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,88},{72,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicgirl_win2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,397},{72,76}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,88},{72,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magicgirl.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string></string>
            <key>textureFileName</key>
            <string>magicgirl.png</string>
        </dict>
    </dict>
</plist>
