<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>orcburn_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,577},{74,84}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,82},{74,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,645},{80,82}}</string>
                <key>offset</key>
                <string>{-22,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,82},{80,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,574},{74,84}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,80},{74,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{122,80}}</string>
                <key>offset</key>
                <string>{21,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,84},{122,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,225},{120,80}}</string>
                <key>offset</key>
                <string>{20,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,84},{120,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,158},{120,80}}</string>
                <key>offset</key>
                <string>{20,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,84},{120,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_attack_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,158},{120,80}}</string>
                <key>offset</key>
                <string>{20,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,84},{120,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_attack_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,158},{120,80}}</string>
                <key>offset</key>
                <string>{20,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,84},{120,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,577},{74,84}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,82},{74,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_dead_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,577},{74,84}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,82},{74,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_dead_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,577},{74,84}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,82},{74,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_dead_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,529},{94,82}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,82},{94,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_dead_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,322},{106,82}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,82},{106,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_dead_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{118,78}}</string>
                <key>offset</key>
                <string>{15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,86},{118,78}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_dead_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,79},{134,76}}</string>
                <key>offset</key>
                <string>{23,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,88},{134,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_dead_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{148,74}}</string>
                <key>offset</key>
                <string>{30,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,90},{148,74}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_dead_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{144,74}}</string>
                <key>offset</key>
                <string>{28,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,90},{144,74}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_dead_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,74}}</string>
                <key>offset</key>
                <string>{32,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,90},{152,74}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_dead_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,79},{136,72}}</string>
                <key>offset</key>
                <string>{36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,92},{136,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_dead_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,154},{134,68}}</string>
                <key>offset</key>
                <string>{37,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,96},{134,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_dead_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,2},{134,54}}</string>
                <key>offset</key>
                <string>{37,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,110},{134,54}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_dead_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{136,50}}</string>
                <key>offset</key>
                <string>{36,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,114},{136,50}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_dead_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{140,46}}</string>
                <key>offset</key>
                <string>{34,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,118},{140,46}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_dead_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{140,46}}</string>
                <key>offset</key>
                <string>{34,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,118},{140,46}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_dead_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{140,46}}</string>
                <key>offset</key>
                <string>{34,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,118},{140,46}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_dead_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{140,46}}</string>
                <key>offset</key>
                <string>{34,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,118},{140,46}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_magic2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,560},{86,82}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,82},{86,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_magic2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{80,80}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,84},{80,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_magic2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,727},{80,80}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,84},{80,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_magic2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{80,80}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,84},{80,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_magic2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,654},{80,80}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,84},{80,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_magic2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{80,80}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,84},{80,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_magic2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,727},{80,80}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,84},{80,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_magic2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{80,80}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,84},{80,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_magic2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,654},{80,80}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,84},{80,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_magic2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{80,80}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,84},{80,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_magic2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,727},{80,80}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,84},{80,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_magic2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{80,80}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,84},{80,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_magic2_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,654},{80,80}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,84},{80,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_magic_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,489},{82,94}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,70},{82,94}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_magic_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,482},{82,96}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,68},{82,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_magic_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,407},{82,96}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,68},{82,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_magic_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,389},{90,104}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,60},{90,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_magic_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,139},{88,108}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,56},{88,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_magic_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{88,104}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,60},{88,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_magic_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,389},{90,104}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,60},{90,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_magic_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,139},{88,108}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,56},{88,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_magic_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{88,104}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,60},{88,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_magic_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,402},{84,96}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,68},{84,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_magic_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,489},{68,92}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,72},{68,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_magic_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,333},{66,98}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,66},{66,98}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_magic_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{110,90}}</string>
                <key>offset</key>
                <string>{19,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,76},{110,90}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_magic_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,250},{110,80}}</string>
                <key>offset</key>
                <string>{19,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,86},{110,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_magic_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,308},{112,78}}</string>
                <key>offset</key>
                <string>{20,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,86},{112,78}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_magic_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,241},{112,78}}</string>
                <key>offset</key>
                <string>{20,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,86},{112,78}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_run_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,492},{84,82}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,82},{84,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_run_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,691},{80,82}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,82},{80,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_run_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{76,80}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,84},{76,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_run_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,940},{74,78}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,86},{74,78}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_run_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,857},{78,80}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,84},{78,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_run_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,644},{80,82}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,82},{80,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_wait_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,577},{74,84}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,82},{74,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_wait_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,577},{74,84}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,82},{74,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_wait_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{74,84}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,80},{74,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_wait_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{74,84}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,80},{74,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_wait_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,567},{74,84}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,80},{74,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_wait_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,567},{74,84}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,80},{74,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_wait_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,651},{74,82}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,82},{74,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>orcburn_wait_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,651},{74,82}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,82},{74,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>orcburn.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string></string>
            <key>textureFileName</key>
            <string>orcburn.png</string>
        </dict>
    </dict>
</plist>
