<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spirit_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,336},{48,64}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,100},{48,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>spirit_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,234},{48,68}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,96},{48,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>spirit_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,183},{48,72}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,92},{48,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>spirit_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,128},{52,72}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,92},{52,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>spirit_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{136,64}}</string>
                <key>offset</key>
                <string>{52,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,100},{136,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>spirit_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,64}}</string>
                <key>offset</key>
                <string>{54,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,100},{140,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>spirit_attack_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{124,64}}</string>
                <key>offset</key>
                <string>{46,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,100},{124,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>spirit_attack_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{96,64}}</string>
                <key>offset</key>
                <string>{32,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,100},{96,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>spirit_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{48,64}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,100},{48,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>spirit_dead_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,333},{48,64}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,100},{48,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>spirit_dead_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,387},{44,56}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,104},{44,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>spirit_dead_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,372},{44,60}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,104},{44,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>spirit_dead_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,325},{44,60}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,104},{44,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>spirit_dead_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{52,68}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,100},{52,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>spirit_dead_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,69},{56,72}}</string>
                <key>offset</key>
                <string>{-16,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,96},{56,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>spirit_dead_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{1,1}}</string>
                <key>offset</key>
                <string>{-127.5,127.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>spirit_run_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,203},{52,60}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,104},{52,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>spirit_run_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,285},{48,64}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,100},{48,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>spirit_run_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,183},{48,72}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,92},{48,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>spirit_run_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{48,68}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,96},{48,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>spirit_wait_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,258},{48,64}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,100},{48,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>spirit_wait_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,258},{48,64}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,100},{48,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>spirit_wait_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{48,64}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,100},{48,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>spirit_wait_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{48,64}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,100},{48,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>spirit_wait_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,266},{48,64}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,100},{48,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>spirit_wait_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,266},{48,64}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,100},{48,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>spirit_wait_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{48,64}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,100},{48,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>spirit_wait_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{48,64}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,100},{48,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spirit.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string></string>
            <key>textureFileName</key>
            <string>spirit.png</string>
        </dict>
    </dict>
</plist>
