<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mob_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,73},{52,56}}</string>
                <key>offset</key>
                <string>{-6,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,144},{52,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mob_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,128},{52,52}}</string>
                <key>offset</key>
                <string>{6,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,148},{52,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mob_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{52,52}}</string>
                <key>offset</key>
                <string>{6,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,148},{52,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mob_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,128},{52,52}}</string>
                <key>offset</key>
                <string>{6,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,148},{52,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mob_dead_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,128},{52,52}}</string>
                <key>offset</key>
                <string>{6,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,148},{52,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mob_dead_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{52,52}}</string>
                <key>offset</key>
                <string>{6,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,148},{52,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mob_dead_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,128},{52,52}}</string>
                <key>offset</key>
                <string>{6,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,148},{52,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mob_dead_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{52,52}}</string>
                <key>offset</key>
                <string>{6,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,148},{52,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mob_dead_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,112},{44,30}}</string>
                <key>offset</key>
                <string>{3,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,146},{44,30}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mob_dead_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,99},{42,40}}</string>
                <key>offset</key>
                <string>{4,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,141},{42,40}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mob_dead_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{70,68}}</string>
                <key>offset</key>
                <string>{4,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,127},{70,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mob_dead_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,94}}</string>
                <key>offset</key>
                <string>{3,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,114},{98,94}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mob_dead_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{1,1}}</string>
                <key>offset</key>
                <string>{-127.5,127.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mob_run_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,73},{52,56}}</string>
                <key>offset</key>
                <string>{-6,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,144},{52,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mob_run_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{52,52}}</string>
                <key>offset</key>
                <string>{-6,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,148},{52,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mob_run_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,112},{52,52}}</string>
                <key>offset</key>
                <string>{-6,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,148},{52,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mob_run_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,57},{52,56}}</string>
                <key>offset</key>
                <string>{-6,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,144},{52,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mob_run_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{52,56}}</string>
                <key>offset</key>
                <string>{-6,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,144},{52,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mob_wait_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,57},{52,56}}</string>
                <key>offset</key>
                <string>{-6,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,144},{52,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mob_wait_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{52,56}}</string>
                <key>offset</key>
                <string>{-6,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,144},{52,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mob.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string></string>
            <key>textureFileName</key>
            <string>mob.png</string>
        </dict>
    </dict>
</plist>
