<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>snowman_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,183},{56,64}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,100},{56,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>snowman_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,175},{56,64}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,100},{56,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>snowman_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{56,64}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,100},{56,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>snowman_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,120},{64,60}}</string>
                <key>offset</key>
                <string>{16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,104},{64,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>snowman_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{68,60}}</string>
                <key>offset</key>
                <string>{18,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,104},{68,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>snowman_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,112},{64,60}}</string>
                <key>offset</key>
                <string>{16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,104},{64,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>snowman_attack_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,297},{60,60}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,104},{60,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>snowman_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,289},{52,64}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,100},{52,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>snowman_dead_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,360},{52,60}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,104},{52,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>snowman_dead_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,344},{56,60}}</string>
                <key>offset</key>
                <string>{16,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,104},{56,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>snowman_dead_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{60,56}}</string>
                <key>offset</key>
                <string>{22,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,108},{60,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>snowman_dead_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{68,48}}</string>
                <key>offset</key>
                <string>{26,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,116},{68,48}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>snowman_dead_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,40}}</string>
                <key>offset</key>
                <string>{28,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,124},{80,40}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>snowman_dead_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,40}}</string>
                <key>offset</key>
                <string>{28,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,124},{80,40}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>snowman_dead_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,40}}</string>
                <key>offset</key>
                <string>{28,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,124},{80,40}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>snowman_run_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{52,64}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,100},{52,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>snowman_run_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,242},{52,64}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,100},{52,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>snowman_run_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,65},{52,68}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,96},{52,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>snowman_run_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,57},{52,68}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,96},{52,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>snowman_wait_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,234},{52,64}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,100},{52,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>snowman_wait_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,234},{52,64}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,100},{52,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>snowman_wait_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{52,68}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,96},{52,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>snowman_wait_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{52,68}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,96},{52,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>snowman_wait_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,45},{52,68}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,96},{52,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>snowman_wait_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,45},{52,68}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,96},{52,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>snowman_wait_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{52,64}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,100},{52,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>snowman_wait_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{52,64}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,100},{52,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>snowman.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string></string>
            <key>textureFileName</key>
            <string>snowman.png</string>
        </dict>
    </dict>
</plist>
