<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tetsuo2_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,389},{60,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,92},{60,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,389},{60,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,92},{60,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,168},{88,100}}</string>
                <key>offset</key>
                <string>{20,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,64},{88,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,2},{112,76}}</string>
                <key>offset</key>
                <string>{32,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,92},{112,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{112,80}}</string>
                <key>offset</key>
                <string>{32,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,92},{112,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,81},{108,84}}</string>
                <key>offset</key>
                <string>{30,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,92},{108,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_attack_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{104,84}}</string>
                <key>offset</key>
                <string>{32,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,92},{104,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_attack_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,97},{104,84}}</string>
                <key>offset</key>
                <string>{32,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,92},{104,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{60,72}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,92},{60,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_dead_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{60,72}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,92},{60,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_dead_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,259},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,92},{64,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_dead_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,259},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,92},{64,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_dead_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,424},{68,64}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,100},{68,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_dead_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,424},{68,64}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,100},{68,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_dead_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,491},{68,60}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,104},{68,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_dead_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,491},{68,60}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,104},{68,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_dead_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,81},{76,48}}</string>
                <key>offset</key>
                <string>{22,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,116},{76,48}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_dead_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,81},{76,48}}</string>
                <key>offset</key>
                <string>{22,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,116},{76,48}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_dead_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{76,44}}</string>
                <key>offset</key>
                <string>{22,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,120},{76,44}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_dead_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{76,44}}</string>
                <key>offset</key>
                <string>{22,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,120},{76,44}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_dead_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{76,44}}</string>
                <key>offset</key>
                <string>{22,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,120},{76,44}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_dead_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{76,44}}</string>
                <key>offset</key>
                <string>{22,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,120},{76,44}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_magic_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,389},{60,72}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,92},{60,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_magic_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,448},{68,68}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,96},{68,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_magic_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,424},{68,68}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,96},{68,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_magic_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,424},{64,68}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,96},{64,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_magic_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,554},{60,68}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,96},{60,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_magic_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,554},{60,68}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,96},{60,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_magic_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,554},{60,68}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,96},{60,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_passive_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{72,100}}</string>
                <key>offset</key>
                <string>{8,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,64},{72,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_passive_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,184},{72,100}}</string>
                <key>offset</key>
                <string>{8,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,64},{72,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_passive_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,85},{80,108}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,64},{80,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_passive_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{92,112}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,64},{92,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_passive_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,116}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,64},{112,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_passive_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,116}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,64},{112,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_passive_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,116}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,64},{112,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_run_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,361},{60,72}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,92},{60,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_run_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,385},{60,72}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,92},{60,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_run_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,235},{60,76}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,88},{60,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_run_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,231},{60,76}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,88},{60,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_run_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,92},{64,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_run_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,259},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,92},{64,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_run_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,168},{64,76}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,88},{64,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_run_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,168},{60,76}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,88},{60,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_wait_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,361},{60,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,92},{60,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_wait_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,361},{60,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,92},{60,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_wait_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,389},{60,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,92},{60,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_wait_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,389},{60,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,92},{60,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_wait_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,495},{60,68}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,96},{60,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_wait_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,495},{60,68}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,96},{60,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_wait_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,389},{60,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,92},{60,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_wait_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,389},{60,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,92},{60,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_win1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,389},{60,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,92},{60,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_win1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,389},{60,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,92},{60,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_win1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,389},{60,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,92},{60,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_win1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,294},{64,72}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,92},{64,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_win1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,326},{60,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,92},{60,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_win1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{60,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,92},{60,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_win1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,326},{60,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,92},{60,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_win1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,322},{60,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,92},{60,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_win1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,298},{60,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,92},{60,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_win1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,259},{60,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,92},{60,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_win1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,259},{60,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,92},{60,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_win1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,259},{60,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,92},{60,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_win1_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,259},{60,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,92},{60,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_win1_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,259},{60,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,92},{60,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_win2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,558},{64,60}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,104},{64,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_win2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,558},{64,60}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,104},{64,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_win2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{60,64}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,100},{60,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_win2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,452},{60,64}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,100},{60,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_win2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,495},{64,60}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,104},{64,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_win2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,495},{64,60}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,104},{64,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_win2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,452},{60,64}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,100},{60,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tetsuo2_win2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{60,64}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,100},{60,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tetsuo2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string></string>
            <key>textureFileName</key>
            <string>tetsuo2.png</string>
        </dict>
    </dict>
</plist>
