<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>whalegirl_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,325},{68,64}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,100},{68,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,136},{72,68}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,96},{72,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{148,68}}</string>
                <key>offset</key>
                <string>{42,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,96},{148,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,68}}</string>
                <key>offset</key>
                <string>{46,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,96},{148,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{96,72}}</string>
                <key>offset</key>
                <string>{20,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,100},{96,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,404},{64,64}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,100},{64,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_attack_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,392},{64,64}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,100},{64,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_attack_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,420},{64,64}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,100},{64,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,388},{64,68}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,96},{64,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_dead_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,388},{64,68}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,96},{64,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_dead_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{68,68}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,96},{68,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_dead_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{68,68}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,96},{68,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_dead_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,353},{64,64}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,100},{64,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_dead_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,353},{64,64}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,100},{64,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_dead_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,345},{68,56}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,108},{68,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_dead_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,345},{68,56}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,108},{68,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_dead_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,73},{80,40}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,124},{80,40}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_dead_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,73},{80,40}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,124},{80,40}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_dead_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,73},{80,40}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,124},{80,40}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_dead_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,73},{80,40}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,124},{80,40}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_dead_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,73},{80,40}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,124},{80,40}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_dead_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,73},{80,40}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,124},{80,40}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_magic_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,321},{68,64}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,100},{68,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_magic_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,278},{68,64}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,100},{68,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_magic_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{72,64}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,100},{72,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_magic_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,227},{68,64}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,100},{68,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_magic_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,333},{68,56}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,108},{68,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_magic_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,294},{68,56}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,108},{68,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_magic_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,274},{68,56}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,108},{68,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_magic_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,274},{68,56}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,108},{68,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_magic_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,274},{68,56}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,108},{68,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_magic_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,274},{68,56}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,108},{68,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_passive_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,392},{64,68}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,96},{64,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_passive_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,392},{64,68}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,96},{64,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_passive_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,392},{64,68}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,96},{64,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_passive_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,2},{96,64}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,100},{96,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_passive_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,69},{92,64}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,100},{92,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_passive_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{88,64}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,100},{88,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_passive_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{88,64}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,100},{88,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_passive_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{88,64}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,100},{88,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_passive_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{88,64}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,100},{88,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_run_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,207},{68,64}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,100},{68,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_run_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{68,64}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,100},{68,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_run_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,187},{68,68}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,96},{68,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_run_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,207},{68,68}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,96},{68,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_run_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,207},{68,64}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,100},{68,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_run_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{68,64}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,100},{68,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_run_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,187},{68,68}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,96},{68,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_run_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,207},{68,68}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,96},{68,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_wait_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,392},{64,68}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,96},{64,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_wait_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,392},{64,68}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,96},{64,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_wait_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,140},{64,72}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,92},{64,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_wait_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,140},{64,72}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,92},{64,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_wait_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,116},{64,72}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,92},{64,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_wait_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,116},{64,72}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,92},{64,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_wait_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,412},{64,68}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,96},{64,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_wait_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,412},{64,68}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,96},{64,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_win1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,392},{64,68}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,96},{64,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_win1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,392},{64,68}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,96},{64,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_win1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,392},{64,68}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,96},{64,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_win1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{64,68}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,96},{64,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_win1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{64,68}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,96},{64,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_win1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{64,68}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,96},{64,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_win1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,156},{68,68}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,96},{68,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_win1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,116},{68,72}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,92},{68,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_win1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,116},{68,72}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,92},{68,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_win1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,183},{68,68}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,96},{68,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_win1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,183},{68,68}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,96},{68,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_win1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,183},{68,68}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,96},{68,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_win1_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,116},{68,72}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,92},{68,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_win1_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,116},{68,72}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,92},{68,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_win1_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,116},{68,72}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,92},{68,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_win2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,77},{76,60}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,104},{76,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_win2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,77},{76,60}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,104},{76,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_win2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,258},{68,64}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,100},{68,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_win2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,254},{68,64}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,100},{68,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_win2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,77},{76,60}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,104},{76,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_win2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,77},{76,60}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,104},{76,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_win2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,254},{68,64}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,100},{68,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>whalegirl_win2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,258},{68,64}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,100},{68,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>whalegirl.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string></string>
            <key>textureFileName</key>
            <string>whalegirl.png</string>
        </dict>
    </dict>
</plist>
